
@{
    ViewBag.Title = "Home-Index";
}

<h2>Prueba de layout en Home-Index</h2>

@section SideBar
    {

    <p>Zona Sidebar En Home/Index</p>
    <ul>
        <li><a href="#">Link1</a></li>
        <li><a href="#">Link2</a></li>
        <li><a href="#">Link3</a></li>
        <li><a href="#">Link4</a></li>
        <li><a href="#">Link5</a></li>
    </ul>

}